# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
.Rproj.user
.Rdata
.DS_Store
.quarto
data/raw//wfp_food_prices_afg.csv
data/raw//wfp_food_prices_ago.csv
data/raw//wfp_food_prices_arg.csv
data/raw//wfp_food_prices_arm.csv
data/raw//wfp_food_prices_aze.csv
data/raw//wfp_food_prices_bdi.csv
data/raw//wfp_food_prices_ben.csv
data/raw//wfp_food_prices_bfa.csv
data/raw//wfp_food_prices_bgd.csv
data/raw//wfp_food_prices_blr.csv
data/raw//wfp_food_prices_bol.csv
data/raw//wfp_food_prices_btn.csv
data/raw//wfp_food_prices_caf.csv
data/raw//wfp_food_prices_chn.csv
data/raw//wfp_food_prices_civ.csv
data/raw//wfp_food_prices_cmr.csv
data/raw//wfp_food_prices_cod.csv
data/raw//wfp_food_prices_cog.csv
data/raw//wfp_food_prices_col.csv
data/raw//wfp_food_prices_cpv.csv
data/raw//wfp_food_prices_cri.csv
data/raw//wfp_food_prices_dji.csv
data/raw//wfp_food_prices_dom.csv
data/raw//wfp_food_prices_dza.csv
data/raw//wfp_food_prices_ecu.csv
data/raw//wfp_food_prices_egy.csv
data/raw//wfp_food_prices_eri.csv
data/raw//wfp_food_prices_eth.csv
data/raw//wfp_food_prices_fji.csv
data/raw//wfp_food_prices_gab.csv
data/raw//wfp_food_prices_geo.csv
data/raw//wfp_food_prices_gha.csv
data/raw//wfp_food_prices_gin.csv
data/raw//wfp_food_prices_gmb.csv
data/raw//wfp_food_prices_gnb.csv
data/raw//wfp_food_prices_gtm.csv
data/raw//wfp_food_prices_hnd.csv
data/raw//wfp_food_prices_hti.csv
data/raw//wfp_food_prices_idn.csv
data/raw//wfp_food_prices_ind.csv
data/raw//wfp_food_prices_irn.csv
data/raw//wfp_food_prices_irq.csv
data/raw//wfp_food_prices_jor.csv
data/raw//wfp_food_prices_jpn.csv
data/raw//wfp_food_prices_kaz.csv
data/raw//wfp_food_prices_ken.csv
data/raw//wfp_food_prices_kgz.csv
data/raw//wfp_food_prices_khm.csv
data/raw//wfp_food_prices_lao.csv
data/raw//wfp_food_prices_lbn.csv
data/raw//wfp_food_prices_lbr.csv
data/raw//wfp_food_prices_lby.csv
data/raw//wfp_food_prices_lka.csv
data/raw//wfp_food_prices_lso.csv
data/raw//wfp_food_prices_mda.csv
data/raw//wfp_food_prices_mdg.csv
data/raw//wfp_food_prices_mex.csv
data/raw//wfp_food_prices_mli.csv
data/raw//wfp_food_prices_mmr.csv
data/raw//wfp_food_prices_mng.csv
data/raw//wfp_food_prices_moz.csv
data/raw//wfp_food_prices_mrt.csv
data/raw//wfp_food_prices_mwi.csv
data/raw//wfp_food_prices_nam.csv
data/raw//wfp_food_prices_ner.csv
data/raw//wfp_food_prices_nga.csv
data/raw//wfp_food_prices_nic.csv
data/raw//wfp_food_prices_npl.csv
data/raw//wfp_food_prices_pak.csv
data/raw//wfp_food_prices_pan.csv
data/raw//wfp_food_prices_per.csv
data/raw//wfp_food_prices_phl.csv
data/raw//wfp_food_prices_pry.csv
data/raw//wfp_food_prices_pse.csv
data/raw//wfp_food_prices_rus.csv
data/raw//wfp_food_prices_rwa.csv
data/raw//wfp_food_prices_sdn.csv
data/raw//wfp_food_prices_sen.csv
data/raw//wfp_food_prices_sle.csv
data/raw//wfp_food_prices_slv.csv
data/raw//wfp_food_prices_som.csv
data/raw//wfp_food_prices_ssd.csv
data/raw//wfp_food_prices_swz.csv
data/raw//wfp_food_prices_syr.csv
data/raw//wfp_food_prices_tcd.csv
data/raw//wfp_food_prices_tgo.csv
data/raw//wfp_food_prices_tha.csv
data/raw//wfp_food_prices_tjk.csv
data/raw//wfp_food_prices_tls.csv
data/raw//wfp_food_prices_tur.csv
data/raw//wfp_food_prices_tza.csv
data/raw//wfp_food_prices_uga.csv
data/raw//wfp_food_prices_ukr.csv
data/raw//wfp_food_prices_ven.csv
data/raw//wfp_food_prices_vnm.csv
data/raw//wfp_food_prices_yem.csv
data/raw//wfp_food_prices_zaf.csv
data/raw//wfp_food_prices_zmb.csv
data/raw//wfp_food_prices_zwe.csv
